@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body,
html {
  margin: 0px;
  height: 100%;
  width: auto;
}

.header {
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
}

.intro-section{
  margin-top: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-color: red; */
}

.header-sub{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 100px;
  margin-bottom: 0px;
}

@media (max-width: 990px) {
  .header-sub {
    font-size: 80px;
  }
}


.name{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.about{
  background-color: transparent;
}

.about > div:first-child {
  font-size: 25px;
  font-weight: 500;
}

.about > div:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 990px) {
  .intro-section img {
    display: none;
  }
}

.organiser {
  font-size: 30px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.sponsor-section{
  margin-top: 10px;
  height: 100%;
  width: 100%;
  /* background-color: red; */
}

.spons-logo {
  height: fit-content;
  width: auto;
  margin-top: 5px;
  overflow: auto;
  padding: 5px;
}

.sponsor-section>hr {
  border: 1px solid rgb(53, 53, 53);
}

.spons-head{
  font-size: 25px;
  padding: 5px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.footer-section{
  height: 10%;
  width: 100%;
  /* background-color: red; */
}